@page
@model IndexModel
@{
    ViewData["Title"] = "login";
}

<!-- 로고 이미지 -->
<img id="logo3" src="~/images/바로우산.png" alt="logo3" />

<!-- 텍스트 -->
<div class="text-center">
    <h1 class="display-4"><span class="highlighted">{} </span>님 반갑습니다.</h1>
</div>
