@page
@model IndexModel
@{
    ViewData["Title"] = "login";
}

<!-- 로고 이미지 -->
<img id="logo2" src="~/images/바로우산.png" alt="Logo2" />

<!-- 텍스트 -->
<div class="text-center">
    <h1 class="display-4"><span class="highlighted">3일 후</span>에 반납해주세요</h1>
</div>
